nav {
  width: 100%;
  min-height: 2em;
  max-height: 3em;
  @include cf();

  background-color: $colorRed;
  color: $colorWhite;
  ul {
    margin: 0;
    list-style: none;

    li {
      list-style: none;
      float: right;
      padding-right: 1em;
    }
  }
}
