.recipe {
  @include col(2/3);
  @include cf();
}

.recipe--create {
  margin-right: 0;
}

.recipe__content {}

.recipe__content--ul {
  list-style: none;
  padding-left: 0;
}

.recipe__content--ol {}

.recipe--text {
  white-space: pre-wrap;
}
