<aside class="recipe-list">
  <ul>
    {{#each recipe in controller}}
      <li>
        {{#link-to 'recipes.recipe' recipe}}
          {{recipe.title}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</aside>

{{outlet}}
