<aside class="recipe-list">
  <ul class="recipe-list--ul">
    {{#each recipe in controller}}
      <li class="recipe-list--li">
        {{#link-to 'recipe' recipe class="recipe-list--a"}}
          {{recipe.title}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</aside>

<article class="recipe">
  <div class="recipe--create">{{#link-to 'recipes.create'}}<button>Add recipe</button>{{/link-to}}</div>
  {{outlet}}
</article>
