<aside class="recipe-list">
  <ul>
    {{#each recipe in controller}}
      <li>
        {{#link-to 'recipe' recipe}}
          {{recipe.title}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</aside>

<span class="recipe">
  {{outlet}}
  {{#link-to 'create'}}Create{{/link-to}}
</span>
